@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

body {
    background-color: #1B98F5;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.main {
    background-color: #fff;
    width: 35%;
    height: 350px;
    /* 500px */
    margin: auto;
    margin-top: 10%;
}

.active {
    height: 700px;
}

.title {
    text-align: center;
    padding-top: 30px;
}

.data {
    width: 85%;
    margin-top: 20px;
    height: 14%;
    text-align: center;
    border: 1px solid black;
}

.submit {
    width: 87%;
    margin-top: 50px;
    height: 14%;
    text-align: center;
    border: none;
    background-color: #1b98f5;
    color: #fff;
    font-weight: bold;
    cursor: pointer;

}

.qr-code {
    /* opacity: 1; */
    display: flex;
    padding: 33px 0;
    border-radius: 5px;
    align-items: center;
    pointer-events: none;
    justify-content: center;
    /* border: 1px solid; */
}

img {
    width: 250px;
    /* display: none; */
}


.loader {
    width: 50px;
    height: 50px;
    background: #e1f81a;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) scale(0.2);
        border-radius: 10%;
    }

    50% {
        transform: rotate(180deg) scale(1.5);
        border-radius: 50%;
    }

    100% {
        transform: rotate(360deg) scale(0.2);
        border-radius: 10%;
    }
}

.hidden {
    display: none;
}

@media only screen and (max-width: 600px) {
    .title {
        font-size: 20px;
    }

    .main {
        width: 70%;
        height: 350px;
    }
}